Air RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\Air.Style"
Amakrits RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\Amakrits.Style"
AquaGraphite RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\AquaGraphite.style"
Blend RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\Blend.Style"
AndroidDark RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\Android\\AndroidDark.fsf"
AndroidLigtht RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\Android\\AndroidLight.fsf"
Dark RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\Dark.style"
GoldenGraphite RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\GoldenGraphite.Style"
iOSBlack RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\iOS\\iOSBlack.fsf"
iOSTransparent RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\iOS\\iOSTransparent.fsf"
Light RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\Light.Style"
Transparent RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\15.0\\Styles\\Transparent.Style"
